@page
@model MyScriptureJournal.Pages.ScriptureJournal.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Scripture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Scripture.Id" />
            <div class="form-group">
                <label asp-for="Scripture.Book" class="control-label"></label>
                <input asp-for="Scripture.Book" class="form-control" />
                <span asp-validation-for="Scripture.Book" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scripture.BookAndChapter" class="control-label"></label>
                <input asp-for="Scripture.BookAndChapter" class="form-control" />
                <span asp-validation-for="Scripture.BookAndChapter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scripture.Verse" class="control-label"></label>
                <input asp-for="Scripture.Verse" class="form-control" />
                <span asp-validation-for="Scripture.Verse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scripture.Notes" class="control-label"></label>
                <input asp-for="Scripture.Notes" class="form-control" />
                <span asp-validation-for="Scripture.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scripture.DateAdded" class="control-label"></label>
                <input asp-for="Scripture.DateAdded" class="form-control" />
                <span asp-validation-for="Scripture.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
